**ANSWER SHEET**

1. WHAT ARE DATA STRUCTURES AND WHY ARE THEY IMPORTANT?

ANS - DATA STRUCTURESB ARE WAYS OF ORGANISING, MANAGING AND STORING DATA SO THAT IT CAN BE ACCESSED AND USED EFFICIENTLY. THESE ARE I8MPORTANT BECAUSE THEY HELP IN MANAGING LARGE DATA SETS, ENABLING FASTER ACCESS, MODIFICATION, AND DELETION OF DATA, AND IMPROVING THE EFFICIENCY OF ALGORITHMS.

2. EXPLAIN THE DIFFERENCE BETWEEN MUTABLE AND IMMUTABLE DATA TYPES WITH EXAMPLES.

ANS - A MUTABLE DATA TYPE IS ONE WHERE THE VALUE OR CONTENT OF THE OBJECT CAN BE CHANGED AFTER IT IS CREATED. EXAMPLE - LIST , SET, DICTIONARY

A IMMUTABLE DATA TYPE IS ONE WHERE THE VALUE OR CONTENT OF THE OBJECT CAN NOT BE CHANGED AFTER IT IS CREATED. EXAMPLE - TUPPLE , STRING, ETC.

3. WHAT ARE THE MAIN DIFFERENCES BETWEEN LISTS AND TUPPLES IN PYTHON?

ANS - LISTS RE MUTABLE AND TUPPLES ARE IMMUTABLE DATA TYPE
WE CAN ADD, REMOVE, REPLACE ELEMENTS OF A LIST BUT IT IS NOT TRUE IN CASE OF TUPPLE.
LIST USE SQUARE BRACKET BUT TUPPLES USE PARANTHESES

4. DESCRIBE HOW DICTIONARIES STORE DATA.

ANS - DICTIONARIES LOOK KIND OF SET BUT HERE THE DATA HERE SAVES A S KEY AND VALUE PAIR. WE CAN ACCESS THE VALUE USING KEY IN A DICTIONARY.

5. WHY MIGHT YOU USE A SET INSTEAD OF A LIST IN PYTHON?

ANS - LISTS ALLOW DUPLICATES, MEANING THE SAME ELEMENT CAN APPEAR MULTIPLE TIMES. SET AUTOMATICALLY ELIMINATES DUPLICATES AND SAVES AS UNIQUE VALUE

6. WHAT IS A STRING IN PYTHON, AND HOW IS IT DIFFERENT FROM A LIST?

ANS - IN PYTHON STRING IS A SEQUENCE OF CHARACTERS ENCLOSED WITHIN SINGLE QUOTES OR DOUBLE QUOTES AND USED TO REPRESENT TEXTUAL DATA. STRINGS ARE IMMUTABLE WHERE LISTS ARE MUTABLE.

7. HOW DO TUPLES ENSURE DATA INTEGRITY IN PYTHON?

ANS - TUPLES ENSURE DATA INTEGRITY AS THEY ARE IMMUTABLE IN NATURE.

8. WHAT IS A HASH TABLE, AND HOW DOES IT RELATE TO DICTIONARIES IN PYTHON?

ANS - A HASH TABLE IS A DATA STRUCTURE THAT STORES DATA IN KEY-VALUE PAIRS, WHERE EACH KEY IS HASHED USING A HASH FUNCTION, AND THE CORRESPONDING VALUE IS STORED AT THAT INDEX IN AN ARRAY OR LIST. PYTHON DICTIONARIES ARE IMPLEMENTED USING A HASH TABLE.

9. CAN LISTS CONTAIN DIFFERENT DATA TYPES IN PYTHON?

ANS - YES, LISTS CAN CONTAIN DIFFERENT DATA TYPES IN PYTHON.

10. EXPLAIN WHY STRINGS ARE IMMUTABLE IN PYTHON.

ANS - IN PYTHON, STRINGS ARE IMMUTABLE, MEANING ONCE A STRING IS CREATED, ITA CANNOT BE MODIFIED. THIS IMMUTABILITY IS A KEY FEATURE OF STRINGS IN PYTHON.

11. WHAT ADVANTAGES DO DICTIONARIES OFFER OVER LISTS FOR CERTAIN TASKS?

ANS - DICTIONARIES OFFER SIGNIFICANT ADVANTAGES OVER LISTS FOR CERTAIN TASKS, PRIMARILY BECAUSE OF THEIR KEY-VALUE PAIR STRUCTURE.

12. DESCRIBE A SCENARIO WHERE USING A TUPLE WOULD BE PREFERABLE OVER A LIST.

ANS - IMAGINE WE NEED TO STORE EMPLOYEE IDS OF EMPLOYESS IN OUR PROGRAM TO BE USED REPEATEDLY IN IT. IT IS NECESSARY THAT THE EMPLOYEE IDS DONOT CHANGE ACCIDENTALLY. IN THIS CASE WE NEED TO IMPLEMENT TUPLE INSTEAD OF LIST.

13. HOW DO SETS HANDLE DUPLICATE VALUES IN PYTHON?

ANS - A SET IS AN UNORDERED COLLECTION OF UNIQUE ELEMENTS, THIS MEANS SETS AUTOMATICALLY REMOVES THE DUPLICATE VALUES.

14. HOW DOES THE "IN" KEYWORD WORK DIFFERENTLY FOR LISTS AND DICTIONARIES?

ANS - THE "IN" KEYWORD IN PYTHON IS USED TO CHECK MEMEBERSHIP. WHEN USED WITH A LIST, THE "IN" KEYWORD CHECKS IF A VALUE EXISTS AS AN ELEMENT IN THE LIST.WHEN USED WITH A DICTIONARY, THE "IN" KEYWORD CHECKS FOR KEYS, NOT FOR VALUES.

15. CAN YOU MODIFY THE ELEMENTS OF A TUPLE? EXPLAIN WHY OR WHY NOT?

ANS - NO, WE CANNOT MODIFY THE ELEMENTS OF A TUPLE IN PYTHON AS TUPLES ARE IMMUTABLE BY NATURE.

16. WHAT IS A NESTED DICTIONARY, AND GIVE AN EXAMPLE OF ITS USE CASE?

ANS - A NESTED DICTIONARY IN PYTHON IS A DICTIONARY THAT CONTAINS OTHER DICTIONARIES AS ITS VALUES.
EXAMPLE- A SCENARIO WHERE WE HAVE TO STORE STUDENT MARKSHEET. HERE STUDENT NAME AS WELL AS SUBJECT NAMES WOULD BE KEY.

17. DESCRIBE THE TIME COMPLEXITY OF ACCESSING ELEMENTS IN A DICTIONARY.

ANS - THE TIME COMPLEXITY OF ACCESSING ELEMENTS IN A PYTHON  DICTIONARY IS GENERALLY 0(1) ON AVERAGE.

18. IN WHAT SITUATIONS ARE LISTS PREFERRED OVER DICTIONARIES?

ANS - LISTS ARE PREFERRED OVER DICTIONARIES,
*WHERE THE ORDER OF ELEMENTS MATTERS,
*WHEN WE NEED TO STORE DUPLICATES,
*WE NEED TO ACCESS ELEMENTS BY INDEX,
*WE NEED TO STORE ELEMENTS WITHOUT KEY-VALUE PAIR.

19. WHY ARE DICTIONARIES CONSIDERED UNORDERED, AND HOW DOES THAT AFFECT DATA RETRIEVAL?

ANS - DICTIONARIES ARE UNORDERED, MEANS IT DOESNOT GUARANTEE THAT THE ELEMENTS/KEY-VALUE PAIRS WOULD MAINTAIN THE ORDER IN WHICH THEY WERE INSERTED. IF WE TRY TO ITERATE OVER A DICTIONARY, THE ORDER OF ITEMS COULD BE DIFFERENT EACH TIME.

20. EXPLAIN THE DIFFERENCE BETWEEN A LIST AND A DICTIONARY IN TERMS OF DATA RETRIEVAL.

ANS - TO RETRIEVE AN ITEM FROM A LIST, WE USE ITS INDEX. TO RETRIEVE AN ITEM FROM A DICTIONARY, WE USE KEY AND NOT THE INDEX.

**PRACTICAL QUESTIONS**

1. WRITE A CODE TO CREATE A STRING WITH YOUR NAME AND PRINT IT.

In [1]:
a = "SATYAPRAKASH PANDA"
print(a)

SATYAPRAKASH PANDA

2. WRITE A CODE TO FIND THE LENGTH OF THE STRING "HELLO WORLD".

In [2]:
a = "hello world"
len(a)

11

3. WRITE A CODE TO SLICE THE FIRST 3 CHARACTERS FROM THE STRING "PYTHON PROGRAMMING"

In [4]:
a = "python programming"
a[0:3]

'pyt'

4. WRITE A CODE TO CONVERT THE STRING "hello" TO UPPERCASE.

In [6]:
a = "hello"
a.upper()

'HELLO'

5. WRITE A CODE TO REPLACE THE WORD "APPLE" WITH ORANGE IN THE STRING "I LIKE APPLE".

In [7]:
a = "i like apple"
a.replace("apple", "orange")

'i like orange'

6. WRITE A CODE TO CREATE A LIST WITH NUMBERS 1 TO 5 AND PRINT IT.

In [8]:
a = [1, 2, 3, 4, 5]
for i in a:
  print(i)

1
2
3
4
5

7. WRITE A CODE TO APPEND THE NUMBER 10 TO THE LIST[1, 2, 3, 4]

In [11]:
a = [1, 2, 3, 4]
a.append(10)
a

[1, 2, 3, 4, 10]

8. WRITE A CODE TO REMOVE THE NUMBER 3 FROM THE LIST [1, 2, 3, 4, 5]

In [12]:
a = [1, 2, 3, 4, 5]
a.remove(3)
a

[1, 2, 4, 5]

9. WRITE A CODE TO ACCESS THE SECOND ELEMENT IN THE LIST ["a", "b", "c", "d"]

In [13]:
a = ["a", "b", "c", "d"]
a[1]

'b'

10. WRITE A CODE TO REVERSE THE LIST[10, 20, 30, 40, 50]

In [14]:
a = [10, 20, 30, 40, 50]
a[::-1]

[50, 40, 30, 20, 10]

11. WRITE A CODE TO CREATE A TUPLE WITH THE ELEMENTS 10, 20, 30 AND PRINT IT.

In [15]:
a = (10, 20, 30)
print(a)

(10, 20, 30)

12. WRITE A CODE TO ACCESS THE FIRST ELEMENT OF THE TUPLE ("APPLE", "BANANA", "CHERRY")

In [16]:
a = ("apple", "banana", "cherry")
a[0]

'apple'

13. WRITE A CODE TO COUNT HOW MANY TIMES THE NUMBER 2 APPEARS IN THE TUPLE (1, 2, 3, 2, 4, 2)

In [17]:
a = (1, 2, 3, 2, 4, 2)
b = 0
for i in a:
  if i == 2:
    b = b + 1
print(b)

3

14. WRITE A CODE TO FIND THE INDEX OF THE ELEMENT "CAT" IN THE TUPLE ("DOG", "CAT", "RABBIT")

In [18]:
a = ("dog", "cat", "rabbit")
a.index("cat")

1

15. WRITE A CODE TO CHECK IF THE ELEMENT "BANANA" IS IN THE TUPLE("APPLE", "ORANGE", "BANANA")

In [19]:
a = ("apple", "orange", "banana")
if "banana" in a:
  print("yes")
else:
  print("no")

yes

16. WRITE A CODE TO CREATE A SET WITH ELEMENTS 1,2,3,4,5 AND PRINT IT.

In [21]:
a = {1, 2, 3, 4, 5}
print(a)

{1, 2, 3, 4, 5}

17. WRITE A CODE TO ADD THE ELEMENT 6 TO THE SET{1, 2, 3, 4}

In [23]:
a = {1, 2, 3, 4}
a.add(6)
a

{1, 2, 3, 4, 6}

18. WRITE A CODE TO CREATE A TUPLE WITH THE ELEMENTS 10. 20, 30 AND PRINT IT.

In [24]:
a = (10, 20, 30)
print(a)

(10, 20, 30)

19. WRITE A CODE TO ACCESS THE FIRST ELEMENT OF THE TUPLE ("APPLE", "BANANA", "CHERRY")

In [25]:
a = ("apple", "banana", "cherry")
a[0]

'apple'

20. WRITE A CODE TO COUNT HOW MANY TIMES THE NUMBER 2 APPEARS IN THE TUPLE (1, 2, 3, 2, 4, 2)

In [26]:
a = (1, 2, 3, 2, 4, 2)
b = 0
for i in a:
  if i == 2:
    b = b + 1
print(b)

3

21. WRITE A CODE TO FIND THE INDEX OF THE ELEMENT "CAT" IN THE TUPLE ("DOG", "CAT", "RABBIT")

In [27]:
a = ("dog", "cat", "rabbit")
a.index("cat")

1

22. WRITE A CODE TO CHECK IF THE ELEMENT "BANANA" IS IN THE TUPLE("APPLE", "ORANGE", "BANANA")

In [28]:
a = ("apple", "orange", "banana")
if "banana" in a:
  print("yes")
else:
  print("no")

yes

23. WRITE A CODE TO CREATE A SET WITH ELEMENTS 1,2,3,4,5 AND PRINT IT.

In [29]:
a = {1, 2, 3, 4, 5}
print(a)

{1, 2, 3, 4, 5}

24. WRITE A CODE TO ADD THE ELEMENT 6 TO THE SET{1, 2, 3, 4}

In [30]:
a = {1, 2, 3, 4}
a.add(6)
a

{1, 2, 3, 4, 6}